apiVersion: v1
kind: Service
metadata:
  name: My-JavaApp-service
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 80
    targetPort: 8080
    protocol: TCP
  selector:
    app: My-JavaApp-service
